@import 'libs/slick';

.video-popup{
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(31, 31, 32, 0.6);
    transform: translate(0, -120%);
    transition: all 0.4s;
    .close{
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100vh;
        cursor: pointer;
        position: absolute;
    }
    iframe{
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 80%;
        height: 70%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
}

.video-popup.active{
    transform: translate(0, 0);
}

.cases{
    padding: 32px 0 61px;
    h2{
        color: #2c2a31;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        position: relative;
        margin-bottom: 25px;
        padding-bottom: 4px;
        display: inline-block;
        &::after{
            content: '';
            left: 0;
            bottom: 0;
            width: 55px;
            height: 2px;
            position: absolute;
            background-color: #f30f0f;
        }
    }
    .cases-content{
        margin-bottom: 45px;
        .cases-item{
            height: 253px;
            margin-bottom: 20px;
            position: relative;
            &::after{
                content: '';
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                background-image: linear-gradient(0, #454547 0%, rgba(120, 128, 153, 0) 100%);
            }
            a{
                top: 0;
                left: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            span{
                left: 0;
                top: 13px;
                z-index: 2;
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                padding: 8px 20px;
                line-height: 17px;
                position: absolute;
                background-color: #1f2b4c;
            }
            .text{
                left: 0;
                z-index: 2;
                width: 100%;
                bottom: 19px;
                overflow: hidden;
                max-height: 171px;
                position: absolute;
            }
            p{
                color: #ffffff;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                padding: 19px 17px 0;
            }
        }
    }
    .more{
        display: table;
        margin: 0 auto;
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        padding: 15px 35px;
        background-color: #f30f0f;
        transition: all 0.3s;
        &:hover{
            background-color: #bf0101;
        }
    }
    @media (min-width: 768px) {
        .cases-content {
            .cases-items{
                display: flex;
                flex-wrap: wrap;
                margin: 0 -1%;
            }
            .cases-item{
                width: 48%;
                margin: 0 1% 10px;       
            }
        }
    }
    @media (min-width: 1024px){
        padding: 34px 0 80px;
        h2{
            font-size: 30px;
            line-height: 34px;
            margin-bottom: 30px;
            padding-bottom: 8px;
            &::after {
                width: 72px;
            }
        }
        .cases-content {
            .cases-items{
                display: grid;
                row-gap: 20px;
                margin: 0 0 20px;
                grid-column-gap: 20px;
                grid-template-columns: repeat(3,1fr);
            }
            .cases-item{
                margin: 0;
                width: 100%;
                &:nth-child(4){
                    height: 526px;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 4;
                }
                &:nth-child(10) {
                    height: 526px;
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 5;
                    grid-row-end: 7;
                }
                &:nth-child(16) {
                    height: 526px;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 8;
                    grid-row-end: 10;
                }
                &:nth-child(22) {
                    height: 526px;
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 11;
                    grid-row-end: 13;
                }
                &:nth-child(28) {
                    height: 526px;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    grid-row-start: 14;
                    grid-row-end: 16;
                }
                &:nth-child(34) {
                    height: 526px;
                    grid-column-start: 2;
                    grid-column-end: 4;
                    grid-row-start: 17;
                    grid-row-end: 19;
                }
            }
        }
    }
    @media (min-width: 1280px){
        padding: 34px 0 110px;
        .cases-content {
            margin-bottom: 85px;
            .cases-item {
                height: 237px;
                p{
                    padding: 20px 22px 0;
                }
                &:nth-child(4){
                    height: 494px;
                }
                &:nth-child(10) {
                    height: 494px;
                }
                &:nth-child(16) {
                    height: 494px;
                }
                &:nth-child(22) {
                    height: 494px;
                }
                &:nth-child(28) {
                    height: 494px;
                }
                &:nth-child(34) {
                    height: 494px;
                }
            }
        }
    }
    @media (min-width: 1400px){
        padding: 34px 0 173px;
        h2 {
            font-size: 36px;
            line-height: 40px;
            margin-bottom: 55px;
            padding-bottom: 10px;
            &::after {
                width: 92px;
            }
        }
    }
}

.cases-internal{
    padding: 32px 0 49px;
    h2{
        color: #2c2a31;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        position: relative;
        margin-bottom: 32px;
        display: inline-block;
    }
    .cases-left{
        padding-bottom: 35px;
        strong{
            color: #2c2a31;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            padding-bottom: 22px;
            display: inline-block;
        }
        p{
            color: #2c2a31;
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            padding-bottom: 21px;
        }
        span{
            color: #2c2a31;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            padding: 10px 0 39px;
            display: inline-block;
        }
        ul{
            padding-bottom: 35px;
            li{
                color: #2c2a31;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                position: relative;
                padding-left: 26px;
                margin-bottom: 17px;
                &:last-child{
                    margin-bottom: 0;
                }
                &::after{
                    content: '\e808';
                    left: 0;
                    top: 50%;
                    font-size: 15px;
                    color: #f30f0f;
                    position: absolute;
                    font-family: 'fontello';
                    transform: translate(0, -50%);
                }
            }
        }
        .video{
            height: 340px;
            cursor: pointer;
            position: relative;
            margin: 17px 0 30px;
            &:hover{
                open-video{
                    background-color: #bf0101;
                    transform: translate(-50%, -50%) scale(1.1);
                }
            }
            .open-video{
                top: 50%;
                left: 50%;
                padding: 0;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                position: absolute;
                background-color: #f30f0f;
                transform: translate(-50%, -50%);
                transition: all 0.3s;
                &::after{
                    content: '';
                    width: 0;
                    top: 50%;
                    left: 55%;
                    height: 0;
                    position: absolute;
                    border-top: 8px solid transparent;
                    border-bottom: 8px solid transparent;
                    border-left: 14px solid #fff;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .news{
            ul{
                padding-bottom: 0;
                li{
                    padding-left: 0;
                    margin-bottom: 0;
                    &::after{
                        display: none;
                    }
                }
            }
            .year{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 15px;
                li{
                    a{
                        color: #122661;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21px;
                        position: relative;
                        margin-bottom: 10px;
                        padding: 3px 7px 4px;
                        display: inline-block;
                        &::before{
                            content: '';
                            left: 0;
                            bottom: 0;
                            z-index: 0;
                            height: 2px;
                            width: 100%;
                            position: absolute;
                            background: #f4f4fa;
                        }
                        &::after{
                            content: '';
                            left: 0;
                            width: 0;
                            bottom: 0;
                            z-index: 1;
                            height: 2px;
                            position: absolute;
                            background: #f30f0f;
                            transition: all 0.3s;
                        }
                    }
                }
                .active{
                    a{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
            .month{
                display: flex;
                flex-wrap: wrap;
                margin: 0 -3% 11px;
                text-align: center;
                li{
                    width: 44%;
                    margin: 0 3% 21px;
                    a{
                        width: 100%;
                        color: #122661;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21px;
                        padding: 6px 10px;
                        display: inline-block;
                        background-color: #f4f4fa;
                        transition: all 0.3s;
                        &:hover{
                            color: #ffffff;
                            background-color: #bf0101;
                        }
                    }
                }
                li.active{
                    a{
                        color: #ffffff;
                        background-color: #f30f0f;
                    }
                }
            }
            .news-content{
                position: relative;
                padding: 77px 19px 22px 15px;
                border: 1px solid #e7e7f0;
                span{
                    left: 0;
                    top: 24px;
                    color: #122661;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 17px;
                    position: absolute;
                    padding: 8px 22px 6px;
                    background-color: #f4f4fa;
                }
                .news-items{
                    .news-item{
                        padding: 25px 0;
                        border-bottom: 1px solid #e7e7f0;
                        &:first-child{
                            padding-top: 0;
                        }
                        &:last-child{
                            padding-bottom: 0;
                            border-bottom: none;
                        }
                        h4{
                            a{
                                width: 100%;
                                color: #2c2a31;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 21px;
                                display: inline-block;
                                transition: all 0.3s;
                                &:hover{
                                    color: #172d6c;
                                    text-decoration: underline;
                                }
                            }
                        }
                        h5{
                            a{
                                width: 100%;
                                color: #2c2a31;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19px;
                                display: inline-block;
                                transition: all 0.3s;
                                &:hover{
                                    color: #172d6c;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cases-right{
        .siteBar{
            margin: 0 -20px 36px;
            padding: 31px 20px 25px;
            background-color: #f4f4fa;
            p{
                color: #2c2a31;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                padding-bottom: 13px;
                strong{
                    font-weight: 500;
                }
            }
            .social{
                display: flex;
                margin-top: 17px;
                align-items: center;
                li{
                    margin: 0 10px;
                    &:first-child{
                        margin-left: 0;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        width: 32px;
                        height: 32px;
                        position: relative;
                        border-radius: 50%;
                        display: inline-block;
                        border: 1px solid #f30f0f;
                        transition: all 0.3s;
                        &:hover{
                            background: #f30f0f;
                            i{
                                color: #ffffff;
                            }
                        }
                        i{
                            top: 50%;
                            left: 50%;
                            font-size: 14px;
                            color: #f30f0f;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
        .siteBar-slider{
            padding-bottom: 85px;
            .slick-list {
                margin: 0 -10px;
            }
            .slick-slide {
                border: none;
                margin: 0 10px;
                div{
                    display: flex;
                }
            }
            .siteBar-item {
                height: 224px;
            }
            .slick-arrow {
                left: 50%;
                z-index: 4;
                bottom: 6px;
                width: 44px;
                height: 34px;
                position: absolute;
                background: transparent;
                border: 2px solid #172d6c;
                transform: translate(-50%, 0);
                transition: all 0.3s;
                i{
                    top: 50%;
                    left: 50%;
                    font-size: 18px;
                    color: #122661;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s;
                }
                &:hover{
                    border: 2px solid #f30f0f;
                    background-color: #f30f0f;
                    i{
                        color: #ffffff;
                    }
                }
            }
            .next{
                transform: translate(23%,0);
            }
            .prev{
                transform: translate(-123%,0);
            }
        }
    }
    @media (min-width: 768px) {
        .cases-left {
            .news {
                .month {
                    margin: 0 -10px 11px;
                    li {
                        width: auto;
                        margin: 0 10px 21px;
                    }
                }
            }
        }
        .cases-right {
            .siteBar {
                margin: 0 0 36px;
                text-align: center;
                .social{
                    justify-content: center;
                }
            }
        }
    }
    @media (min-width: 1024px){
        padding: 20px 0 39px;
        h2{
            font-size: 30px;
            line-height: 34px;
        }
    }
    @media (min-width: 1280px){
        padding: 20px 0 39px;
        .cases-internal-content{
            display: flex;
            justify-content: space-between;
        }
        .cases-left{
            width: 66.2%;
            padding-bottom: 0;
        }
        .cases-right{
            width: 32.2%;
            .siteBar {
                text-align: left;
                .social{
                    justify-content: flex-start;
                    li{
                        margin: 0 5px;
                    }
                }
            }
            .siteBar-slider{
                padding-bottom: 0;
                .slick-list {
                    margin: -8px 0;
                }
                .slick-slide {
                    margin: 8px 0;
                }
                .prev {
                    top: 0;
                    transform: translate(0,0);
                    i{
                        transform: translate(0 ,-50%) rotate(90deg);
                    }
                }
                .next {
                    bottom: 0;
                    transform: translate(0,0);
                    i{
                        transform: translate(0 ,-50%) rotate(90deg);
                    }
                }
                .slick-arrow {
                    left: 0;
                    z-index: 4;
                    width: 100%;
                    height: 35px;
                    border: none;
                    bottom: 7px;
                    position: absolute;
                    transform: translate(0,0);
                    background-color: rgba(31, 31, 32, 0.8);
                    transition: all .3s;
                    &:hover{
                        border: none;
                        background-color: rgba(31, 31, 32, 1);
                    }
                    i {
                        top: 50%;
                        left: 47%;
                        color: #fff;
                        font-size: 16px;
                        position: absolute;
                        transition: all .3s;
                    }
                }
            }
        }
    }
    @media (min-width: 1400px){
        padding: 20px 0 39px;
        h2 {
            font-size: 36px;
            line-height: 42px;
            padding-right: 5px;
            margin-bottom: 33px;
        }
        .cases-left {
            span {
                padding: 18px 0 40px;
            }
            ul {
                padding-bottom: 41px;
            }
            .video {
                height: 466px;
                margin: 27px 0 30px;
                .open-video {
                    width: 60px;
                    height: 60px;
                    &::after{
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-left: 18px solid #fff;
                    }
                }
            }
            .news{
                .year {
                    margin-bottom: 4px;
                    li {
                        margin-bottom: 0;
                        a {
                            font-size: 15px;
                            margin-bottom: 0;
                            line-height: 19px;
                            padding: 3px 5px 4px;
                        }
                    }
                }
                .month {
                    margin: 0 -4px 12px;
                    li {
                        margin: 0 4px 10px;
                        a {
                            font-size: 15px;
                            line-height: 21px;
                            padding: 3px 18px;
                        }
                    }
                }
                .news-content {
                    padding: 72px 28px 22px 26px;
                    span{
                        top: 20px;
                    }
                    .news-items {
                        .news-item {
                            padding: 24px 0;
                            h5 {
                                a {
                                    font-size: 18px;
                                    line-height: 21px;
                                    padding-right: 30px;
                                }
                            }
                            h4 {
                                a {
                                    padding-right: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .cases-right {
            .siteBar {
                margin: 0 0 53px;
                padding: 29px 30px 25px;
                p {
                    font-size: 20px;
                    line-height: 23px;
                    padding-bottom: 16px;
                }
                .social {
                    margin-top: 11px;
                }
            }
            .siteBar-slider {
                .siteBar-item {
                    height: 290px;
                }
            }
        }
    }
}