@import "libs/fonts";
@import "libs/fontello";
@import "libs/header";
@import "libs/footer";
@import 'libs/request-call';
@import 'libs/normalize';

body {
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

i{
    font-style: normal;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.wrapper{
    overflow: hidden;
}

input:not([type=checkbox]):not([type=radio]),
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

input{
    -webkit-appearance: none;   
    appearance: none;   
}

a {
    cursor: pointer;
}

.container {
    z-index: 4;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    @media (min-width: 768px) {
        padding: 0;
        width: 648px;
    }
    @media (min-width: 1024px) {
        width: 864px;
    }
    @media (min-width: 1280px) {
        width: 1080px;
    }
    @media (min-width: 1400px) {
        width: 1240px;
    }
}

.bread-crumbs{
    display: none;
    ul{
        li{
            position: relative;
            padding-right: 10px;
            display: inline-block;
            &:last-child{
                padding-right: 0;
                &::after{
                    display: none;
                }    
            }
            &::after{
                content: '/';
                top: 50%;
                right: 0;
                color: #2c2a31;
                font-size: 15px;
                font-weight: 400;
                line-height: 17px;
                position: absolute;
                transform: translate(0, -50%);
            }
            a{
                color: #2c2a31;
                font-size: 15px;
                font-weight: 400;
                line-height: 17px;
                display: inline-block;
                transition: all 0.3s;
                &:hover{
                    color: #f30f0f;
                }
            }
            span{
                color: #2c2a31;
                font-size: 15px;
                font-weight: 400;
                line-height: 17px;
                display: inline-block;
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
        padding: 28px 0;
    }
}
