<div class="mobile-menu">
    <span class="close"></span>
    <ul>
        <li class="active"><a href="index.html">Главная</a></li>
        <li><a href="projects.html">Проекты</a></li>
        <li><a href="javascript:void(0)">Кейсы</a></li>
        <li><a href="javascript:void(0)">Обучение</a></li>
        <li><a href="javascript:void(0)">Новости</a></li>
        <li><a href="javascript:void(0)">Контакты</a></li>
    </ul>
</div>

<header class="header">
    <div class="container">
        <div class="header-content">
            <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>
            <nav>
                <ul>
                    <li class="active"><a href="index.html">Главная</a></li>
                    <li><a href="projects.html">Проекты</a></li>
                    <li><a href="javascript:void(0)">Кейсы</a></li>
                    <li><a href="javascript:void(0)">Обучение</a></li>
                    <li><a href="javascript:void(0)">Новости</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                </ul>
            </nav>
            <ul class="social">
                <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                <li><a href="javascript:void(0)"><i class="icon-facebook"></i></a></li>
                <li><a href="javascript:void(0)"><i class="icon-vk"></i></a></li>
                <li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
            </ul>
            <span class="open-menu">
                <span></span>
            </span>
        </div>
    </div>
</header>