<section class="request-call">
    <div class="container">
        <div class="title">
            <h3>Lorem Ipsum - это текст-"рыба", часто</h3>
            <p>Используемый в печати и вэб-дизайне. часто используемый в печати</p>
        </div>
        <form>
            <div>
                <input class="error" type="text" placeholder="Ваше имя">
                <input type="text" placeholder="Ваш телефон">
            </div>
            <span id="success_result" class="success-result">Все ок!</span>
            <button>Отправить</button>
        </form>
    </div>
</section>